.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.header-left {
  flex: 3;
  display: flex;
  align-items: center;
}

.header-right {
  flex: 2;
}

.body {
  flex: 5;
  background: green;

}

.footer {
  flex: 4;
  background: blue;

}
