.logo-img {
  height: 64px;
  width: 64px;
}

.logo-wrapper {
}

.main-image {
  height: 100%;
  width: 100%;
}

.main-image-wrapper {
  flex: 1;
}

/* content */
.content {

}

.content-header {
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
}

.content-body {
  display: flex;
  flex:4;

}

.content-title {
  font-weight: lighter;
  font-style: normal;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
}

.welcome-text {
  font-size: 48px;
  font-family: Parisienne;
}

.main-title {
  font-size: 24px;
}

.logo-text {
  color: #000000;
  font-family: Lexend Tera;
}

.logo-wrapper a {
  text-decoration: none;
}

.logo-wrapper a :hover {
  color: #000020;
  font-size: 25px;
}


.footer-body-title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.icon-wrapper {
  margin-left: 5px;
  margin-right: 5px;
}

.icon-wrapper a {
  color: #000000;
  text-decoration: none;
}

.content:hover {
  border-image-source: url('../assets/images/golden.png');
}

.content:hover .icon-wrapper a {
  color: #b09945;
}

.content:hover .icon-wrapper:hover a {
  color: #000000;
}


.content:hover .welcome-text {
  color: #b09945;
  font-style: italic;
}